/*Mark Header*/

.header-wrapper >. menu{
    display: flex;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}

.header-wrapper > .menu > button{
    background-color: white;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.3s background-color ease-out;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}

.logo{
    max-width:10%;
    max-height: 10%;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation a {
    text-decoration: none;
}

.title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Mark Main*/

#main-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.review-section{
    flex-basis: 60%;
    flex-grow: 0;
}

.review-section img{
    max-width: 300%;
    max-height: 100%;
}

.message-us{
    flex-basis: 40%;
    flex-grow: 0;
    background-color: lightslategrey;
    border-radius: 8px;
}

.input-message-us{
    display: flex;
    flex-direction: column;
}

button{
    margin-left: 24px;
    margin-right: 24px;
}

@media screen and(max-width: 600px) {
    .title-header{
        background-color: red;
    }
}